#nav{
	width:1200px;
	height:50px;
	margin:0 auto;
	margin-top:5px;
	background:rgb(85,98,68);
}
#nav ul li{
	float:left;
}
#nav ul li a{
	display:block;
	width:131px;
	height:50px;
	margin-left:2px;
	text-align:center;
	line-height:50px;
	font-size:20px;
	color:white;
}
#nav ul li a.first{
	background:rgb(230,0,0);
}
#nav ul li a:hover{
	background:rgb(230,0,0);
}
#main{
	width:1200px;
	margin:20px auto;
}
#main ul li{
	position:relative;
	height: 110px;
	width:880px;
	margin:30px 0 10px 120px;
}
#main ul li:hover .content{
	background:rgb(220,220,220);
}
#main ul li::before{
	content: "";
	width: 0px;
	height: 0px;
	border-width: 0px 0px 20px 40px;
	border-style: solid;
	border-bottom-color:transparent;
	border-left-color:#fff;
	position: absolute;
	left: 100px;
	top: 41px;
	transition:border-left-color 1.5s; 
}
#main ul li:hover::before{
	border-left-color:rgb(230,230,230);
}
#main ul li::after{
	content:"";
	width:10px;
	height:10px;
	position:absolute;
	left:140px;
	top:41px;
	border:2px solid #fff;
	border-radius:50%;
	background:rgb(190,190,190);
	transition:background 1.5s; 
}
#main ul li:hover::after{
	background:rgb(140,140,140);
}
#main ul li .pic img{
	float:left;
	border-radius:50px;
}
#main ul li .content{
	float:left;
	position:relative;
	width:700px;
	height:110px;
	margin-left:80px;
	background:rgb(240,240,240);
	transition:background 1s; 
}
#main ul li .content p{
	text-indent:2em;
	text-align:left;
	letter-spacing:0.1em;
}
#main ul li .time{
	position:absolute;
	right:20px;
	top:70px;
	letter-spacing:0.1em;
	background:rgb(210,20,30);
}